
<section class="position-relative">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <app-title-section [titleSectionProp]="titleSectionProp"></app-title-section>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="servicebox-userbehavior wow fadeInUp">

            <img src="./assets/images/services/aws-partnership-min.png" alt="fancybox">

          </div>
        </div>
      <div class="col-lg-4 col-md-6">
        <div class="servicebox-userbehavior wow fadeInUp text-left">

            <img src="./assets/images/services/google_partner-min.png" alt="fancybox">

        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="servicebox-userbehavior wow fadeInUp text-left">

            <img src="./assets/images/services/microsoft_partner-min.png" alt="fancybox">
        </div>
      </div>
    </div>
  </div>
</section>


