<style>
  .frame {
    border: solid;

  }
  .circle-well-arch-effect {
    display: inline-block;
    width: 100px;
    height: 100px;
    line-height: 110px;
    margin-bottom: 30px;
    border-radius: 90px;

  }
</style>
<div class="
     border-round-full
     bg-dark-blue
     wow fadeInUp
     text-center
     {{ circleData.positionClass }}"
     [attr.data-wow-delay]="circleData.delay">
  <div class="circle-well-arch-effect">   
    <h2 class="text-white mb-2">{{ circleData.title }}</h2>
    <p class="text-white mb-6">{{ circleData.description }}</p>
  </div>
  </div>

