<style>
  .title-page {
    padding: 120px 0 40px;
    padding-top: 60px;
    padding-right: 0px;
    padding-bottom: 40px;
    padding-left: 0px;
    background: #292D3F url(../assets/images/services/bg-titlepage-devops.svg) -2px 85% / cover;
    background-image: url(../assets/images/services/bg-titlepage-devops.svg);
    background-position-x: 100%;
    background-position-y: 50%;
    background-size: contain;
    background-repeat: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(41, 45, 63);
    background-repeat: no-repeat;
    border-radius: 0 0 120px 120px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 120px;
    border-bottom-left-radius: 120px;
  }
/*  .title-page {
    padding-bottom: 340px;
    background: #292D3F url(../assets/images/services/bg-titlepage-devops.svg) -2px 85% / cover;
    background-image: url(../assets/images/services/bg-titlepage-devops.svg);
    background-position-x: -2px;
    background-position-y: 85%;
    background-size: cover;
    background-repeat: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(41, 45, 63);
    border-radius: 0 0 60px 60px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
    background-repeat: no-repeat;
  }*/
</style>
<div class="title-page iq-banner" >
  <!--<section class="pb-0 iq-pb-55">-->
    <section >
      <div class="container">
        <div class="row  wow fadeInUp ">
          <div class="col-md-6 pr-lg-5">
            <!--<div class="col-lg-6 col-sm-12 mt-5">-->
            <div class="plr-5">
              <h2 class="text-white">
                DevOps as a Service
              </h2>
              <p></p>
              <p class="text-white">DevOps as a Service is a smart combination of best practices and cutting-edge automation tools, designed to help you deliver high-quality products faster.</p>
            </div>
          </div>
          <!--<div class="col-md-6">
          <div class="iq-get-data-left wow fadeInUp ">
            <img src="./assets/images/visual/01.png" width="766" height="525" />
          </div>
        </div>-->
        </div>
      </div>
    </section>
</div>




  <!--<section class="pb-0">
    <div class="container">
      <div class="row  wow fadeInUp ">
        <div class="col-lg-6 col-sm-12 mt-5">
          <h1>
            DevOps
            as a Service
          </h1>
          <p></p>
          <p class="mb-0"
             style="font-size:1.2em;">
            DevOps as a Service is a smart combination of best practices and cutting-edge automation tools, designed to help you deliver high-quality products faster
          </p>
        </div>
      </div>
    </div>
  </section>-->
