

<section class="pb-0 iq-pb-55">
  <div class="container">
    <div class="row  wow fadeInUp ">
      <div class="col-lg-6 col-sm-12 mt-5">
        <h1>
          DevOps
          as a Service
        </h1>
        <p></p>
        <p>Profisea's DevOps as a Service is a smart combination of best practices and cutting-edge automation tools, designed to help you deliver high-quality products faster.</p>
        <!--<div *ngFor="let list of List" class="fancybox-visualization-service wow fadeInUp  text-left">
          <div class="icon-bg">
            <i aria-hidden="true" class="{{ list.icon }}"></i>
          </div>
          <div class="service-detail align-self-center">
            <h5 class="mb-2 text-primary">{{ list.title }}</h5>
            <p>{{ list.desc }}</p>
          </div>
        </div>-->
      </div>
      <div class="col-md-6">
        <div class="iq-get-data-left wow fadeInUp ">
          <img src="./assets/images/visual/01.png" width="766" height="525" />
        </div>
      </div>
    </div>
  </div>
</section>




<!--<section class="pb-0">
  <div class="container">
    <div class="row  wow fadeInUp ">
      <div class="col-lg-6 col-sm-12 mt-5">
        <h1>
          DevOps
          as a Service
        </h1>
        <p></p>
        <p class="mb-0"
           style="font-size:1.2em;">
          DevOps as a Service is a smart combination of best practices and cutting-edge automation tools, designed to help you deliver high-quality products faster
        </p>
      </div>
    </div>
  </div>
</section>-->
