<style>
  .border {
    /* padding: 15px;*/
    border: solid #252e44 !important;
  }

  .border-round-full {
    border-radius: 60px 60px 60px 60px !important;
  }

  .servicebox-datascience-black {
    position: relative;
    overflow: hidden;
    padding: 30px;
    background: #292D3F;
    color: #ffffff;
    z-index: 0;
    transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    box-shadow: -15.265px 9.539px 30px 0px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    border-bottom-right-radius: 30px;
    margin-bottom: 30px;
  }



    .servicebox-datascience-black.data-title {
      transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      -webkit-transition: all 0.5s ease-in-out;
    }

    .servicebox-datascience-black.data-title {
      margin-bottom: 30px;
    }
</style>
<section class="pt-0 iq-pb-40">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <app-title-section [titleSectionProp]="titleSectionProp"></app-title-section>
      </div>
    </div>
    <div class="row">
      <div *ngFor="let list of List" class="col-lg-12 col-md-12 col-sm-12">
        <div class="border
             border-round-full
             row
             row-eq-height
             align-items-center
             servicebox-datascience-black
             wow fadeInUp
             text-left">
          <div class="col-sm-4 col-lg-2 col-md-2">
            <img alt=""
                 class="single_image-img attachment-full"
                 height="360"
                 width="550"
                 src="{{ list.img }}">
          </div>
          <div class="col-sm-12 col-lg-8 col-md-7">
            <h3 class="text-white mb-2">{{ list.title }}</h3>
            <p>{{ list.subtitle }}</p>
          </div>
          <div class="text-lg-center text-left col-sm-12 col-lg-2 col-md-3">
            <h5 class="text-white pt-3 pb-1 pt-lg-0 pb-lg-0">{{ list.year }}<br />{{list.time}}</h5>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>





<!--<section>
  <div class="container">
    <div class="row xamin-bg">
      <div class="col-sm-12">
        <app-title-section [titleSectionProp]="titleSectionProp"></app-title-section>
      </div>
      <div *ngFor="let list of List"
           class="col-sm-12 mb-5">
        <div class="{{ list.class }}">
          <div class="xamin-history
               row
               row-eq-height
               align-items-center
               wow fadeInUp ">
            <div class="col-sm-4 col-lg-2 col-md-2">
              <img alt=""
                   class="single_image-img attachment-full"
                   height="360"
                   width="550"
                   src="{{ list.img }}">
            </div>
            <div class="text-lg-center text-left col-sm-12 col-lg-2 col-md-3">
              <h5 class="pt-3 pb-1 pt-lg-0 pb-lg-0">{{ list.year }}<br />{{list.time}}</h5>
            </div>
            <div class="col-sm-12 col-lg-8 col-md-7">
              <p class="mb-0">{{ list.desc }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>-->
<!--<section class="pt-0 iq-pb-30">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <app-title-section [titleSectionProp]="titleSectionProp"></app-title-section>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-4 col-md-6">
              <div class="servicebox-userbehavior wow fadeInUp text-left">
                  <div class="service-box-icon">
                      <img src="./assets/images/services/02.png" alt="fancybox">
                  </div>
                  <div class="service-box-detail">
                      <h4 class="mb-2">Big Data Consulting</h4>
                      <p>Many variation established fact reader will be distracted by the of readable content .</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6">
              <div class="servicebox-userbehavior wow fadeInUp text-left">
                  <div class="service-box-icon">
                      <img src="./assets/images/services/03.png" alt="fancybox">
                  </div>
                  <div class="service-box-detail">
                      <h4 class="mb-2"> Machine Learning</h4>
                      <p>Contrary to established fact that a reader will be distracted by the of readable content .</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6">
              <div class="servicebox-userbehavior wow fadeInUp text-left">
                  <div class="service-box-icon">
                      <img src="./assets/images/services/04.png" alt="fancybox">
                  </div>
                  <div class="service-box-detail">
                      <h4 class="mb-2">Computer Vision</h4>
                      <p>Variations established fact that a reader will be distracted the of readable content .</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6">
              <div class="servicebox-userbehavior wow fadeInUp  text-left ">
                  <div class="service-box-icon">
                      <img src="./assets/images/services/04.png" alt="fancybox">
                  </div>
                  <div class="service-box-detail">
                      <h4 class="mb-2">Data Analytics</h4>
                      <p>Established fact that a reader will be distracted by passages the of readable content .</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 pb-0">
              <div class="servicebox-userbehavior wow fadeInUp  text-left mb-md-0">
                  <div class="service-box-icon">
                      <img src="./assets/images/services/02.png" alt="fancybox">
                  </div>
                  <div class="service-box-detail">
                      <h4 class="mb-2">Internet Of Things</h4>
                      <p>It is a long established fact that a reader will be distracted by the of readable content .</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 pb-0">
              <div class="servicebox-userbehavior wow fadeInUp  text-left mb-0">
                  <div class="service-box-icon">
                      <img src="./assets/images/services/03.png" alt="fancybox">
                  </div>
                  <div class="service-box-detail">
                      <h4 class="mb-2">   Artificial Intelligence</h4>
                      <p>Contrary to established fact that a reader will be distracted by the of readable content .</p>
                  </div>
              </div>
          </div>
       </div>
  </div>
</section>-->
