<!-- Header component start-->
<app-header [logoImg]="logoImage" [navItemList]="navItems" [contactInfo]="contactInfo"></app-header>
<!-- Header component end-->

<!-- START REVOLUTION SLIDER -->
<app-main></app-main>
<!-- END REVOLUTION SLIDER -->

<!-- MainContent -->
<div class="main-content">

  <section-one-who-we-are></section-one-who-we-are>

  <app-section-two></app-section-two>

  <app-section-three></app-section-three>
 
  <app-section-four></app-section-four>

  <!--<app-section-vertical-two></app-section-vertical-two>-->

  <!--<app-section-six-projects></app-section-six-projects>-->

  <!--<app-section-seven-service></app-section-seven-service>-->
  <!--  Service End-->
  <!--  Blog-->
  <!--<app-section-nine-blog></app-section-nine-blog>-->
  <!--  Blog End-->


</div>
<!-- MainContent End-->
<!-- Footer start -->
<!--<app-footer-style1 [logoImg]="logoImage" [contactInfo]="contactInfo"></app-footer-style1>-->
<!-- Footer end -->
<!-- Footer start -->
<app-footer [logoImg]="logoImage" [contactInfo]="contactInfo"></app-footer>
<!-- Footer end -->
