<style>
  .frame {
    border: solid;
    border-color:white;
  }
</style>
<div class="
     border-round-full
     frame
     {{ circleData.type }}
     xamin-circle wow fadeInUp text-center {{ circleData.positionClass }}"
     [attr.data-wow-delay]="circleData.delay">
    <div class="circle-effect">
  <img class="mt-4 mb-2"
       style="width: 50%;"
       src="./assets/images/services/{{ circleData.img }}"
       alt="fancybox"> </div>
    <h2 class="text-white mb-2">{{ circleData.title }}</h2>
    <p class="text-white mb-6">{{ circleData.description }}</p>
  </div>
