<section class="pb-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 wow fadeInUp align-items-center">
        <app-title-section [titleSectionProp]="titleSectionProp1"></app-title-section>
      </div>
      <div class="iq-hide-image-data-left col-lg-6  wow fadeInUp ">
        <img src="./assets/images/about-us/Cloud.webp" class="attachment-full" alt="" sizes="100vw">
      </div>
    </div>
    <div class="row mt-5">
      <div class="iq-hide-image-data-left col-lg-6  wow fadeInUp ">
        <img src="./assets/images/about-us/CM.png" class="attachment-full" alt=""
             sizes="100vw">
      </div>
      <div class="col-lg-6 wow fadeInUp align-items-center">
        <app-title-section
                           [titleSectionProp]="titleSectionProp2">

        </app-title-section>
      </div>
    </div>
  </div>
</section>  
