<section class="iq-feture-bg">
  <div class="container text-center">
    <h2>How we do it</h2>
    <div class="row align-items-center ">

      <div class="col-md-6">

        <app-title-section [titleSectionProp]="titleSectionProp"></app-title-section>
      </div>
      <div class="col-md-6">
        <div class="xamin-feature-circle wow zoomIn postion-relative">
          <div class="xamin-img">
            <ul class="list-inline mb-0">
              <li *ngFor="let list of List" class="list-inline-item">
                <div class="feature-info">
                  <div class="feature-img">
                    <img class="img-fluid client-img" src="{{ list.image }}" alt="image0">
                  </div>
                  <h6>{{ list.title }}</h6>
                </div>
              </li>
            </ul>
            <div class="dot-circle">
              <div class="effect-circle"></div>
            </div>
            <div class="main-circle">
              <div class="circle-bg">
               
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- How We Works -->
<!--<section id="how-it-works" class="iq-bg-over">
    <div class="container">
      <div class="row iq-how-it-works">
        <div class="col-lg-5 col-md-12 mb-0 fadeInUp wow column align-items-center">
          <div class="title-box wow fadeInUp text-left">
            <app-title-section [titleSectionProp]="titleSectionProp"></app-title-section>
          </div>
          <app-progress-bar-right-percentage [progressBarDetail]="progressBarDetail" [progressBar1]="progressBar1"></app-progress-bar-right-percentage>
        </div>
        <div class="fadeInUp col-lg-7 col-md-12">
          <img width="1260" height="954" src="./assets/images/about-us/06.png" class="single_image-img attachment-full" alt="">
        </div>
      </div>
    </div>
  </section>-->
  <!-- How We Works End -->
