<!--<style>
  .border {
    /* padding: 15px;*/
    border: solid #252e44 !important;
  }

  .border-round-full {
    border-radius: 60px 60px 60px 60px !important;
  }

  .servicebox-datascience-dark-blue {
    background-color: #252e44 !important;
    position: relative;
    overflow: hidden;
    padding: 30px;
    background: #f7f8fe;
    z-index: 0;
    transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    box-shadow: -15.265px 9.539px 30px 0px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    border-bottom-right-radius: 30px;
    margin-bottom: 30px;
  }

    /*    .servicebox-datascience-dark-blue :hover {
      background: #292D3F;
      color: #ffffff;
    }

    .servicebox-datascience-dark-blue.data-title {
      transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      -webkit-transition: all 0.5s ease-in-out;
    }
    */
    .servicebox-datascience-dark-blue
    .data-title,
    p,
    .servicebox-datascience:hover a .link-btn {
      color: #ffffff;
    }
  /*
    .servicebox-datascience-dark-blue.data-title {
      margin-bottom: 30px;
    }

    .servicebox-datascience-dark-blue:hover:before {
      height: 250px;
      content: "";
      width: 250px;
      position: absolute;
      background-color: rgb(254,254,254,0.2);
      border-radius: 900px;
      z-index: -1;
      left: -85px;
      top: -85px;
    }*/
</style>
<section class="pt-0 iq-pb-40">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <app-title-section [titleSectionProp]="titleSectionProp"></app-title-section>
      </div>
    </div>
    <div class="row">
      <div *ngFor="let list of List" class="col-lg-6 col-md-6 col-sm-12">
        <div class="
             border-round-full
             servicebox-datascience-dark-blue
             wow fadeInUp
             text-left">
          <div class="service-box-detail">
            <h1 class="data-title">{{ list.title }}</h1>
            <p>{{ list.subtitle }}</p>
            <a class="button button-icon"
               style="background-color:white;"
               href="{{list.href}}">
              <span class="btn-effect"
                    style="color:black;"> Read More</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>-->


<style>
  .border {
    /* padding: 15px;*/
    border: solid #252e44 !important;
  }

  .border-round-full {
    border-radius: 60px 60px 60px 60px !important;
  }
</style>
<section class="pt-0 iq-pb-40">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <app-title-section [titleSectionProp]="titleSectionProp"></app-title-section>
      </div>
    </div>
    <div class="row">
      <div *ngFor="let list of List" class="col-lg-6 col-md-6 col-sm-12">
        <div class="border
             border-round-full
             servicebox-datascience-black
             wow fadeInUp
             text-left">
          <div class="service-box-detail">
            <h1 class="data-title">{{ list.title }}</h1>
            <p>{{ list.subtitle }}</p>
            <a class="button button-icon" href="{{list.href}}">
              <span class="btn-effect"> Read More</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<!--<app-services [navList]="navList" [titleSectionProp]="titleSectionProp"></app-services>-->
<!--<section class="pt-0 iq-pb-30">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <app-title-section [titleSectionProp]="titleSectionProp"></app-title-section>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="servicebox-userbehavior wow fadeInUp text-left">
          <div class="service-box-icon">
            <img src="./assets/images/services/02.png" alt="fancybox">
          </div>
          <div class="service-box-detail">
            <h1 class="mb-2">DevOps</h1>-->
<!--<p>Many variation established fact reader will be distracted by the of readable content .</p>-->
<!--</div>
  </div>
</div>
<div class="col-lg-4 col-md-6">
  <div class="servicebox-userbehavior wow fadeInUp text-left">
    <div class="service-box-icon">
      <img src="./assets/images/services/03.png" alt="fancybox">
    </div>
    <div class="service-box-detail">
      <h3 class="mb-2"> Cloud Migration</h3>-->
<!--<p>Contrary to established fact that a reader will be distracted by the of readable content .</p>-->
<!--</div>
  </div>
</div>
<div class="col-lg-4 col-md-6">
  <div class="servicebox-userbehavior wow fadeInUp text-left">
    <div class="service-box-icon">
      <img src="./assets/images/services/04.png" alt="fancybox">
    </div>
    <div class="service-box-detail">
      <h4 class="mb-2">Well Architected</h4>-->
<!--<p>Variations established fact that a reader will be distracted the of readable content .</p>-->
<!--</div>
  </div>
</div>
<div class="col-lg-4 col-md-6">
  <div class="servicebox-userbehavior wow fadeInUp  text-left ">
    <div class="service-box-icon">
      <img src="./assets/images/services/04.png" alt="fancybox">
    </div>
    <div class="service-box-detail">
      <h1 class="mb-2">FinOps</h1>-->
<!--<p>Established fact that a reader will be distracted by passages the of readable content .</p>-->
<!--</div>
  </div>
</div>
<div class="col-lg-4 col-md-6 pb-0">
  <div class="servicebox-userbehavior wow fadeInUp  text-left mb-md-0">
    <div class="service-box-icon">
      <img src="./assets/images/services/02.png" alt="fancybox">
    </div>
    <div class="service-box-detail">
      <h2 class="mb-2">DevSecOps</h2>-->
<!--<p>It is a long established fact that a reader will be distracted by the of readable content .</p>-->
<!--</div>
  </div>
</div>
<div class="col-lg-4 col-md-6 pb-0">
  <div class="servicebox-userbehavior wow fadeInUp  text-left mb-0">
    <div class="service-box-icon">
      <img src="./assets/images/services/03.png" alt="fancybox">
    </div>
    <div class="service-box-detail">
      <h4 class="mb-2"> Infrastructure Modernization</h4>-->
<!--<p>Contrary to established fact that a reader will be distracted by the of readable content .</p>-->
<!--</div>
        </div>
      </div>
    </div>
  </div>
</section>-->
