<style>
  .title-page {
    padding: 120px 0 40px;
    padding-top: 60px;
    padding-right: 0px;
    padding-bottom: 40px;
    padding-left: 0px;
    background: #292D3F url(../assets/images/services/bg-devsecops.png) -2px 85% / cover;
    background-image: url(../assets/images/services/bg-devsecops.png);
    background-position-x: 100%;
    background-position-y: 50%;
    background-size: contain;
    background-repeat: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    /*background-color: rgb(41, 45, 63);*/
    background-color: #252e44;
    background-repeat: no-repeat;
    border-radius: 0 0 120px 120px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 120px;
    border-bottom-left-radius: 120px;
  }
</style>
<div class="title-page iq-banner">
  <section>
    <div class="container">
      <div class="row  wow fadeInUp ">
        <div class="col-md-6 pr-lg-5">
          <div class="plr-5">
            <h2 class="text-white">
              DevSecOps as a Service
            </h2>
            <p></p>
            <p class="text-white">
              Don't compromise on security, reliability, and compliance - let us DevSecOps services team seamlessly integrate them into your software development lifecycle (SDLC).
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
