<!--<app-services [navList]="navList" [titleSectionProp]="titleSectionProp"></app-services>-->

<section class="pt-0 iq-pb-30">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <app-title-section [titleSectionProp]="titleSectionProp"></app-title-section>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="servicebox-userbehavior wow fadeInUp text-left">
          <div class="service-box-icon">
            <img src="./assets/images/services/02.png" alt="fancybox">
          </div>
          <div class="service-box-detail">
            <h1 class="mb-2">DevOps</h1>
            <!--<p>Many variation established fact reader will be distracted by the of readable content .</p>-->
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="servicebox-userbehavior wow fadeInUp text-left">
          <div class="service-box-icon">
            <img src="./assets/images/services/03.png" alt="fancybox">
          </div>
          <div class="service-box-detail">
            <h3 class="mb-2"> Cloud Migration</h3>
            <!--<p>Contrary to established fact that a reader will be distracted by the of readable content .</p>-->
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="servicebox-userbehavior wow fadeInUp text-left">
          <div class="service-box-icon">
            <img src="./assets/images/services/04.png" alt="fancybox">
          </div>
          <div class="service-box-detail">
            <h4 class="mb-2">Well Architected</h4>
            <!--<p>Variations established fact that a reader will be distracted the of readable content .</p>-->
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="servicebox-userbehavior wow fadeInUp  text-left ">
          <div class="service-box-icon">
            <img src="./assets/images/services/04.png" alt="fancybox">
          </div>
          <div class="service-box-detail">
            <h1 class="mb-2">FinOps</h1>
            <!--<p>Established fact that a reader will be distracted by passages the of readable content .</p>-->
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 pb-0">
        <div class="servicebox-userbehavior wow fadeInUp  text-left mb-md-0">
          <div class="service-box-icon">
            <img src="./assets/images/services/02.png" alt="fancybox">
          </div>
          <div class="service-box-detail">
            <h2 class="mb-2">DevSecOps</h2>
            <!--<p>It is a long established fact that a reader will be distracted by the of readable content .</p>-->
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 pb-0">
        <div class="servicebox-userbehavior wow fadeInUp  text-left mb-0">
          <div class="service-box-icon">
            <img src="./assets/images/services/03.png" alt="fancybox">
          </div>
          <div class="service-box-detail">
            <h4 class="mb-2"> Infrastructure Modernization</h4>
            <!--<p>Contrary to established fact that a reader will be distracted by the of readable content .</p>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

