<div class="iq-banner">
  <!-- START xamin REVOLUTION SLIDER 0.1.0 -->
  <p class="rs-p-wp-fix"></p>
  <rs-module-wrap id="rev_slider_0_1_wrapper"
                  data-alias="xamin"
                  data-source="gallery"
                  style="background:transparent;
                          padding:0;
                          margin:0px auto;
                          margin-top:0;
                          margin-bottom:0;">
    <rs-module id="rev_slider_0_1"
               class=" rs-ov-hidden"
               style="display:none;"
               data-version="6.1.0">
      <rs-slides>
        <rs-slide data-key="rs-6"
                  data-title="Slide"
                  data-anim="ei:d,d,d,d,d,d,d,d,d;eo:d,d,d,d,d,d,d,d,d;s:1000ms,d,d,d,d,d,d,d,d;r:0,0,0,0,0,0,0,0,0;t:fade,grayscale,blurlight,blurstrong,fade,crossfade,fadethroughlight,fadethroughdark,fadethroughtransparent;sl:d,d,d,d,d,d,d,d,d;"
                  data-firstanim="t:fade;sl:12;">
          <img src="{{ imgSrc }}/dummy.png"
               alt="images"
               title="01"
               width="1600"
               height="758"
               data-lazyload="./assets/revslider/assets/01-2.jpg"
               data-parallax="2"
               class="rev-slidebg"
               data-no-retina>
          <h1 id="slider-4-slide-6-layer-1"
              class="rs-layer"
              data-type="text"
              data-color="#313e5b"
              data-rsp_ch="on"
              data-xy="x:l,l,l,c;xo:95px,20px,37px,0;yo:50px,141px,40px,46px;"
              data-text="s:48,48,50,42;l:65,65,70,55;fw:700;a:inherit,inherit,inherit,center;"
              data-frame_0="y:-50;"
              data-frame_1="st:600;sp:1000;sR:600;"
              data-frame_999="o:0;tp:600;st:w;sR:7400;"
              style="z-index:9;font-family:Lato;text-transform:capitalize;">
            FinOps as a Service<br> 
          </h1>
          <p id="slider-4-slide-6-layer-3"
             class="rs-layer"
             data-type="text"
             data-color="#525f81"
             data-rsp_ch="on"
             data-xy="x:l,l,l,c;xo:95px,15px,40px,0;y:m;yo:94px,15px,-180px,-102px;"
             data-text="s:16,16,18,20;l:30;a:inherit,inherit,inherit,center;"
             data-frame_0="y:-50;" data-frame_1="st:900;sp:1000;sR:900;"
             data-frame_999="o:0;tp:600;st:w;sR:7100;"
             style="z-index:10;font-family:Karla;">
            Say goodbye to cloud cost headaches and benefit from
            <br>intelligent financial accountability. Let  FinOps experts
            <br> help you achieve cost optimization and business value.
            <br>We empower fast paced startups to grow, deliver & win
            <br> with strategic, hands-on cloud DevOps & FinOps
          </p>
        </rs-slide>
      </rs-slides>
      <rs-static-layers>
      </rs-static-layers>
      <rs-progress class="rs-bottom" style="visibility: hidden !important;"></rs-progress>
    </rs-module>
  </rs-module-wrap>
  <!-- END REVOLUTION SLIDER -->
</div>
